@import url('https://fonts.googleapis.com/css2?family=Honk:MORF@15&display=swap');

:root {
    --cor-primaria-1: #95B8D1;
    --cor-primaria-2: #E8DDB5;
    --cor-primaria-3: #666A86;

    --cor-branco: #fff;
    --cor-preto: #000;

    --cor-sombra: rgba(0, 0, 0, 0.15);
    --cor-texto: #333;
    
    --fonte: "Honk", system-ui;

    --ratio: 12px; 
    --transtion: 0.3s ease;
}
 *{
   margin: 0;
   padding:0;
   box-sizing: border-box;
}
body{
   font-family: var(--fonte);
   background: #31081F;
   background: linear-gradient(90deg,rgba(49, 8, 31, 1) 0%, rgba(173, 52, 62, 1) 50%, rgba(71, 71, 71, 1) 100%);
   display: flex;
   justify-content: center;
   align-items: center;
   min-height: 100vh;
   padding: 20px;
}
#logo {
   width: 150px;
   height: auto;
   margin-bottom: 20px;
   border-radius: var(--raio);
}
.titulo {
   font-size: clamp(1.5rem, 2vw + 1rem, 2rem);
   color: var(--cor-texto);
}
button[onclick="logout()"] {
   align-self: flex-end;
   margin-bottom: 1.5rem;
   background-color: var=(var(--cor-primaria-1));
   color: var(--cor-primaria-4);
   padding: 10;
}